<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00AM</td> <td>Zoom Carpentry Intro/Setup</td></tr>
      <tr> <td>09:15AM</td>  <td><a href="01-basics/index.html">Automated Version Control</a></td></tr>
      <tr> <td>09:25AM</td>  <td><a href="02-setup/index.html">Setting Up Git</a></td></tr>
      <tr> <td>09:40AM</td>  <td><a href="03-create">Creating a Repository</a></td></tr>
      <tr> <td>09:50AM</td>  <td>Break</td></tr>
      <tr> <td>10:00AM</td>  <td><a href="04-changes/index.html">Tracking Changes</a></td></tr>
      <tr> <td>10:20AM</td>  <td><a href="05-history/index.html">Exploring History</a></td></tr>
      <tr> <td>10:45AM</td>  <td>Projected End Time</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00AM</td>  <td>Review</td> </tr>
      <tr> <td>09:15AM</td>  <td><a href="06-ignore/index.html">Ignoring Things</a></td></tr>
      <tr> <td>09:20AM</td>  <td><a href="07-github/index.html">Remotes in Github</a></td></tr>
      <tr> <td>09:50AM</td>  <td>Break</td></tr>
      <tr> <td>10:00AM</td>  <td><a href="08-collab.index.html">Collaborating</a></td></tr>
      <tr> <td>10:30AM</td>  <td><a href="09-conflict/index.html">Conflicts</a></td></tr>
      <tr> <td>11:00AM</td>  <td>Projected End Time</td></tr>
      <tr> <td>Post Workshop Survey</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop 
Survey</a></td> </tr>
    </table>
  </div>
</div>
